@use "./shared/variables" as *;
@use "./shared/mixins" as *;

html.blog {
    background-color: $iceBlue;
    h1 {
        font-size: clamp((calc(3.5 * $baseFontSize)), 10vw, (calc(5.438 * $baseFontSize)));
        color: white;
    }
    h2 {
        margin-bottom: 0;
    }
    h3 {
        color: $black;
    }

    h4 {
        color: $twilightBlue;
        margin: 0;
    }

    h5 {
        color: $twilightBlue;
        margin: 0;
    }

    h6 {
        font-size: calc(1.25 * $baseFontSize);
        color: $twilightBlue;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        span {
            font-weight: bold;
        }
    } 

    .findOutMore {
        display: block;
        color: $spruce;
        font-weight: bold;
        padding: 0;
        margin-bottom: 30px;
    }
}

.post {
    transform: translateY(clamp(-600px, -30vh, -300px));
    .postContent {
        width: 65%;
    }
    .contentBorder {
        transform: translateY(-2vh);
        padding: 4vh 0 2vh;
        border-bottom: 5px solid $greenishCyan;
        border-right: 5px solid $greenishCyan;
        .contentContainer {
            margin-left: 10%;
            padding-right: 10%;
        }
    }
    .imgContainer {
        width: 100%;
        padding: 0 20px 0 0;
        img {
            width: 100%;
            box-shadow: 20px 20px $greenishCyan;
        }  
    }
}

.sidebar {
    width: 20%;
    position: absolute;
    top: 110vh;
    right: 0vw;
    background-color: white;
    padding: 0 0 25px 25px;
    p {
        margin-bottom: 0;
    }

    img {
        width: 100%;
        transform: translateY(-25px);
    }

    .recentPosts li::before {
        content: "\2022"; 
        color: $greenishCyan;
        font-weight: bold;
        display: inline-block;
    }
}

.comments {
    transform: translateY(clamp(-500px, -20vh, -200px));
    width: 65%;
    .wrapper {
        margin-left: 10%;
        padding-right: 10%;
    }
    .comment {
        @include flexStyle(space-between, flex-start, no-wrap);
        margin-bottom: 75px;
        .imgContainer {
            margin: 10px 25px 0 0;
            min-width: 15vh;
            max-width: 15vh;
            img {
                width: 100%;
            }
        }
        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width:85%;
            p {
                margin-top: 0;
            }    
        }
    }
}




