@use "./variables" as *;
@use "./mixins" as *;

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    button {
        width: 100%;
        border: none;
    }
}
input, textarea {
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: 2ms;
    &:focus, &:hover {
        background-color: rgba($greenishCyan, 0.25);
    }
}

input {
    border-bottom: 2px solid $greenishCyan;
    width: 48%;
    min-width: 250px;
    margin-top: 10px;
}

textarea {
    border: 2px solid $greenishCyan;
    width: 100%;
    margin: 50px 0;
    height: 25vh;
    min-height: 200px;
    max-height: 250px;
}

