@use "./variables" as *;
@use "./mixins" as *;

//general header styling
header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    height: 90vh;
    position: relative;
    .headerContent {
        position: absolute; 
        top: 50%;
        left: 32%;
        z-index: 10;
        h1 {
            font-size: clamp((calc(2.5 * $baseFontSize)), 5vw, (calc(3.875 * $baseFontSize)));
        }
        span {
            font-size: clamp((calc(3 * $baseFontSize)), 10vw, (calc(6.95 * $baseFontSize)));
            display: block;
            line-height: clamp((calc(3 * $baseFontSize)), 10vw, (calc(8 * $baseFontSize)));
        }
    }
    .headerImage {
        transform: translateY(20vh);
        width: 40%;
        img {
            width: 100%;
        }
    }
}

.navBar {
    @include flexStyle(space-between, center);
    text-transform: uppercase;
    ul {
        @include flexStyle();
        li {
            color: white;
            &:hover, &:focus {
                color: $greenishCyan;
            }
        }
    }
}

//hamburger menu styling
.hamburger, .break {
    display: none;
}

.hamburger > i {
    color: white;
}

.break {
    flex-basis: 100%;
    height: 0;
}

//page specific styling 
html.blog, html.contact {
    header {
        background-image: url("../assets/blog-image-1.jpg");
    }
    .headerContent {
        h1 {
            font-size: clamp((calc(3.5 * $baseFontSize)), 10vw, (calc(5.438 * $baseFontSize)))
        }
        color: white;
        left: 5%;
        max-width: 1400px;
    }
}

html.contact {
    header {
        background-image: url("../assets/contact-image-1.jpg");
        h1 {
            margin-left: 5vw;
        }
    }
}