@use "./variables" as *;
@use "./mixins" as *;

header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
    .headerContent {
        position: absolute; 
        top: 45%;
        left: 32%;
        z-index: 10;
        span {
            display: block;
            line-height: calc(8 * $baseFontSize);
        }
    }
    .headerImage {
        position: absolute;
        bottom: -15%;
        left: 0px;
        width: 40%;
        img {
            width: 100%;
        }
    }
}

.navBar {
    @include flexStyle(space-between, center);
    text-transform: uppercase;
    ul {
        @include flexStyle();
        li {
            color: white;
            &:hover, &:focus {
                color: $greenishCyan;
            }
        }
    }
}

html.blog, html.contact {
    header {
        background-image: url("../assets/blog-image-1.jpg");
    }
    .headerContent {
        color: white;
        position: static;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 55vh;
    }
}

html.contact {
    header {
        background-image: url("../assets/contact-image-1.jpg");
    }
}