@use "./variables" as *;
@use "./mixins" as *;

header {
    background-size: cover;
    height: clamp(300px, 90vh, 800px);
    .navBar {
        @include flexStyle(space-between, center);
        text-transform: uppercase;
        ul {
            @include flexStyle();
            li {
                color: white;
                &:hover, &:focus {
                    color: $greenishCyan;
                }
            }
        }
    }
    .hamburger, .break {
        display: none;
        i {
            color: white;
        }
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }     
}

html.home {
    background-image: url(../assets/home-image-1.jpg);
    .headerContent {
        position: absolute; 
        top: 50%;
        left: 32%;
        z-index: 10;
        h1 {
            font-size: clamp((calc(2.5 * $baseFontSize)), 5vw, (calc(3.875 * $baseFontSize)));
        }
        span {
            font-size: clamp((calc(3 * $baseFontSize)), 10vw, (calc(6.95 * $baseFontSize)));
            display: block;
            line-height: clamp((calc(3 * $baseFontSize)), 10vw, (calc(8 * $baseFontSize)));
        }
    }
    .headerImage {
        transform: translateY(20vh);
        width: 40%;
        img {
            width: 100%;
        }
    }
}

html.blog, html.contact {
    .headerContent {
        h1 {
            font-size: clamp((calc(3.5 * $baseFontSize)), 10vw, (calc(5.438 * $baseFontSize)))
        }
        color: white;
        position: static;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: clamp(230px, 55vh, 550px);
    }
}

html.blog {
    header {
        background-image: url("../assets/blog-image-1.jpg");
    }
}

html.contact {
    header {
        background-image: url("../assets/contact-image-1.jpg");
        h1 {
            margin-left: 5vw;
        }
    }
}
