@use "./shared/variables" as *;
@use "./shared/mixins" as *;

.guyana {
    background-color: $iceBlue;
    .guyanaFlex {
        @include flexStyle(space-between, center, no-wrap);
        padding: 100px 0;
        .contentContainer {
            width: 55%;
            padding-right: 30px;
            p {
                margin: 0 0 30px;
            }
        }
        .imgContainer {
            width: clamp(30%, 20vw, 35%);
            @include flexStyle(flex-end);
        }
        img {
            box-shadow: -15px 15px $greenishCyan;
            width: 100%;
        }
    }
}

.gallery {
    background-color: $lightLightBlue;
    .wrapper {
        @include flexStyle(space-between, center);
        .galleryItem{
            padding: 100px 0;
            width: 30%;
            display: flex;
            justify-content: center;
        }
    }
}

.carouselButton {
    all: unset;
    color: $greenishCyan;
    position: absolute; 
    width: fit-content;
    &:hover, &:focus {
        cursor: pointer;
    }
    &.previous {
        left: 5%;
    }
    &.next {
        right: 5%;
    }
}

.moreInfo {
    background-color: $iceBlue;
}

.itemContainer {
    @include flexStyle(space-between, flex-start, wrap);
    width: 100%;
    padding: 100px 0 75px;
    .items {
        @include flexStyle(normal, flex-start);
        width: 50%;
        padding-bottom: 25px;
        .iconContainer {
            width: 10%;
            min-width: 70px;
            .iconBg {
                background-color: $greenishCyan;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @include flexStyle(center, center);
                i {
                    letter-spacing: -1px;
                    color: white;
                }
            }
        }
        .infoContainer {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                margin: 0;
                line-height: 2.5rem;
            }
            a {
                padding: 0;
                &:hover, &:focus {
                    text-decoration: underline;
                }
            }

        }
    }
}

.planning {
    background-color: $lightLightBlue;
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    .planAhead, .newLocations {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .imgContainer, .contentContainer {
            width: 45%;
        }
        p {
            margin-bottom: 30px;
        }
    }

    .planAhead {
        .contentContainer {
            padding: 5vw 12vw 5vw 0;
        }
        .imgContainer {
            transform: translateY(-7.5vh);
        }
        img {
            box-shadow: 20px 20px $greenishCyan;
        }
    }
    .newLocations {
        flex-direction: row-reverse;
        text-align: right;
        .contentContainer {
            padding: 5vw 0 5vw 12vw;
        }
        .imgContainer {
            transform: translateY(7.5vh);
        }
        img {
            box-shadow: -20px 20px $greenishCyan;
            width: 100%;
        }
    }
    .banner img {
        width: 100%;
    }
}

.freeTrip {
    background-color: $iceBlue;
    .wrapper {
        text-align: center;
        padding: 70px 100px 100px;
        p {
            margin-bottom: 30px;
        }
    }
}

.testList {
    display: flex;
}