// Mobile - 360px
// Large Mobile - 480px
// Tablet - 768px
// Tablet Landscape - 1024px
// Laptop - 1200px
// Desktop - 1440px
@use "./variables" as *;

//desktop
@media (max-width: 1440px) {

}

//laptop
@media (max-width: 1200px) {
    html.contact, html.blog {
        .headerContent {
            position: absolute;
            top: 20%;
            left: 5%;
            max-width: 1400px;
        }
    }
}

@media (max-width: 1024px) {
    html.home {
        .headerImage {
            display: none;
        }
        .headerContent {
            left: clamp(10%, 2vw, 32%);
        }
    }
    html.contact {
        .contact.wrapper {
            flex-direction: column;
        }
        .getInTouch, .contactInfo {
            width: 100%;
        }
        .contactInfo {
            transform: translateY(0vh);
            text-align: center;
            .socialMedia {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        background-color: transparent;
        border: none;
    }
    .navLinks {
        display: none;
        width: 100%;
        ul {
            flex-direction: column;
            align-items: flex-end;
            a {
                padding-right: 0;
            }
        }
    }
    .hamburger, .break {
        display: block;
    }
    header {
        max-height: 500px;
    }

    html.home {
        .guyanaFlex {
            flex-direction: column;
            padding: 30px 0;
            .contentContainer, .imgContainer {
                width: 100%;
                justify-content: center;
                padding: 0;
            }
        }
        .gallery {
            .wrapper {
                flex-direction: column;
                .galleryItem{
                    width: 100%;
                    padding: 30px 0;
                }
            }
        }
        .itemContainer {
            flex-direction: column;
            align-items: center;
            .items {
                width: 100%;
                justify-content: center;
            }
        }
        .planAhead, .newLocations {
            flex-direction: column;
            .imgContainer, .contentContainer {
                width: 100%;
                img {
                    box-shadow: 0 0;
                }
            }
        }
        .banner {
            display: none;
        }
    }

    html.blog, html.contact {
        .headerContent {
            top: -120px;
        }
    }
    input {
        min-width: 0px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    html.home {
        .gallery {
            display: none;
        }
    }

}

@media (max-width: 360px) {
    input::placeholder, textarea::placeholder {
        font-size: calc(1 * $baseFontSize);
    }
}

@media (max-width: 320px) {
    
}
