// Mobile - 360px
// Large Mobile - 480px
// Tablet - 768px
// Tablet Landscape - 1024px
// Laptop - 1200px
// Desktop - 1440px
@use "./variables" as *;

//desktop
@media (max-width: 1440px) {

}

//laptop
@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    html.home {
        .headerImage {
            display: none;
        }
        .headerContent {
            left: clamp(10%, 2vw, 32%);
        }
        .planAhead, .newLocations {
            .imgContainer {
                transform: translateY(0);
                width: 50%;
                img {
                    box-shadow: none;
                    width: 100%;
                }
            }
            .contentContainer {
                text-align: center;
                padding: 0 30px 50px;
            }
        }
        .freeTrip {
            .wrapper {
                padding: 0px 50px 50px;
            }
        }
    }
    html.contact {
        .contact.wrapper {
            flex-direction: column;
        }
        .getInTouch, .contactInfo {
            width: 100%;
        }
        .contactInfo {
            transform: translateY(0vh);
            text-align: center;
            padding: 0;
            .socialMedia {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .hamburger {
            display: block;
            background-color: transparent;
            border: none;
        }
        .navLinks {
            display: none;
            width: 100%;
            ul {
                position: absolute;
                right: 5%;
                left: 5%;
                li {
                    border-bottom: 1px solid rgba(white, 0.5);
                    width: 100%;
                    text-align: right;
                }
                a {
                    padding-right: 0;
                    
                }
            }
        }
        .hamburger, .break {
            display: block;
        }
    }

    input {
        min-width: 0px;
        width: 100%;
    }

    html.home {
        .guyanaFlex {
            flex-direction: column;
            padding: 30px 0;
            .contentContainer, .imgContainer {
                width: 100%;
                justify-content: center;
                padding: 0;
            }
        }
        .gallery {
            .wrapper {
                flex-direction: column;
                .galleryItem{
                    width: 100%;
                    padding: 30px 0;
                }
            }
        }
        .itemContainer {
            flex-direction: column;
            align-items: center;
            .items {
                width: 100%;
                justify-content: center;
            }
        }
        .planAhead, .newLocations {
            flex-direction: column;
            .imgContainer, .contentContainer {
                width: 100%;
                img {
                    box-shadow: 0 0;
                }
            }
        }
    }

    html.blog {
        .sidebar {
            display: none;
        }
        .postContent, .comments {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    header {
        height: clamp(300px, 90vh, 500px);
    }

    html.blog {
        .comment1, .comment2 {
            flex-direction: column;
            .imgContainer {
                margin: 0 0 25px 0;
            }
        }
    }
    
    html.home {
        .gallery {
            display: none;
        }
    }

}

@media (max-width: 360px) {
    input::placeholder, textarea::placeholder {
        font-size: calc(1 * $baseFontSize);
    }
}

@media (max-width: 320px) {
    
}
