//Colours
$greenishCyan: #50E3C2;
$black: #2C2C2C;
$iceBlue: #FAFFFE;
$twilightBlue: #063974;
$lightLightBlue: #D2F9F1;
$spruce: #0C5F4C;

//Fonts
$baseFont: "Lato", sans-serif;
$logoFont: "Playfair Display SC", serif;
$baseFontSize: 1rem;